<html>
    <head>
        <style>
            .headers {
                font-family: 'Verdana';
                margin: 0;
            }
            .accent-color {
                color:#FF6A00;
            }
        </style>   
    </head>
    <body>
        <div id="growler">
                <div class="form-group row">
                        <div class="col-6">
                            <label for="logTextarea">Event Log (without <code>v-cloak</code>)</label>
                            <div style="border:solid 1px #000; height:100px; padding-left:1rem;">
                                <div>{{ history }}</div>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="logTextarea">Event Log (with <code>v-cloak</code>)</label>
                            <div style="border:solid 1px #000; height:100px; padding-left:1rem;">
                                <div v-cloak>{{ history }}</div>
                            </div>
                        </div>
                    </div>
            <h2 v-once>{{appName}}</h2>
            <h3 v-text="appName"></h3>
            <h3 v-html="appName1"></h3>
            <img alt="gro" v-bind:src="appLogo" style="height:36px" />
            <img alt="gro" :src="appLogo" style="height:36px" />
            <h3 v-bind:style="{color: color}">{{appName}}</h3>
            <h3 v-bind:style="appStyle">{{appName}}</h3>
            <h3 v-bind:style="[accentColor, headers]">{{appName}}</h3>
            <h3 v-bind:class="[accentColor1, headers1]">{{appName}}</h3>
            <h3 v-bind:class="headerStyles">{{appName}}</h3>
            <h3 v-bind:class="{'headers': true, 'accent-color': isOnline }">{{appName}}</h3>
            <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input v-model.trim="query" type="search" class="form-control" placeholder="please enter your query here.">
                            <button v-on:click="executeSearch" type="button" class="btn btn-primary">Search</button>   
                            <button v-on:click="executeSearch2('tok', $event)" type="button" class="btn btn-primary">Search2</button>
                            <button @click="executeSearch" type="button" class="btn btn-primary">Search3</button>                            
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <strong>Binding to a Single Selection</strong>
                                <br />
    
                                <select v-model="selectedSearchIndex" class="form-control">
                                    <option value="beers">Beers</option>
                                    <option value="breweries">Breweries</option>
                                    <option value="distilleries">Distilleries</option>
                                    <option value="pubs">Pubs</option>
                                </select>
                                <small class="text-muted">selected: {{ selectedSearchIndex }}</small>
                            </div>
    
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <strong>Binding to Multiple Selections</strong>
                                <br />
    
                                <select v-model="selectedSearchIndexes" multiple class="form-control">
                                    <option value="beers">Beers</option>
                                    <option value="breweries">Breweries</option>
                                    <option value="distilleries">Distilleries</option>
                                    <option value="pubs">Pubs</option>
                                </select>
                                <small class="text-muted">selected: {{ selectedSearchIndexes }}</small>
                            </div>                        
                        </div>
                    <label class="form-check-label">
                            <input type="radio" value="beers" v-model="searchIndex">
                            Beers
                        </label>
                        <br />
                        <label class="form-check-label">
                            <input type="radio" value="breweries" v-model="searchIndex">
                            Breweries
                        </label>  
                        <br />
                        <small class="text-muted" style="padding-left:20px;">selected: {{ searchIndex }}</small>   
                <div class="form-check row" style="padding-left:12px;">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="beers" v-model="searchIndexes">
                        Beers
                    </label>
                </div>
                <div class="form-check row" style="padding-left:12px;">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="breweries" v-model="searchIndexes">
                        Breweries
                    </label>
                </div>

                <small class="text-muted">selected: {{ searchIndexes }}</small> 
                
                <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-4">
                            <!-- Color Input Type -->
                            <div class="form-group row">
                                <label for="colorInputField" class="col-sm-3 col-form-label">color</label>
                                <div class="col-sm-9">
                                    <input id="colorInputField" type="color" class="form-control" v-model="colorInput" />
                                    <small class="text-muted">{{ colorInput }}</small>
                                </div>
                            </div>

                            <!-- Date Input Type -->
                            <div class="form-group row">
                                <label for="dateInputField" class="col-sm-3 col-form-label">date</label>
                                <div class="col-sm-9">
                                    <input id="dateInputField" type="date" class="form-control" v-model="dateInput" />
                                    <small class="text-muted">{{ dateInput }}</small>
                                </div>
                            </div>

                            <!-- datetime-local Input Type -->
                            <div class="form-group row">
                                <label for="dateTimeLocalInputField" class="col-sm-3 col-form-label">datetime-local</label>
                                <div class="col-sm-9">
                                    <input id="dateTimeLocalInputField" type="datetime-local" class="form-control" v-model="dateTimeLocalInput" />
                                    <small class="text-muted">{{ dateTimeLocalInput }}</small>
                                </div>
                            </div>

                            <!-- Email Input Type -->
                            <div class="form-group row">
                                <label for="emailInputField" class="col-sm-3 col-form-label">email</label>
                                <div class="col-sm-9">
                                    <input id="emailInputField" type="email" class="form-control" v-model="emailInput" />
                                    <small class="text-muted">{{ emailInput }}</small>
                                </div>
                            </div>

                            <!-- Month Input Type -->
                            <div class="form-group row">
                                <label for="monthInputField" class="col-sm-3 col-form-label">month</label>
                                <div class="col-sm-9">
                                    <input id="monthInputField" type="month" class="form-control" v-model="monthInput" />
                                    <small class="text-muted">{{ monthInput }}</small>
                                </div>
                            </div>

                            <!-- Number Input Type -->
                            <div class="form-group row">
                                <label for="numberInputField" class="col-sm-3 col-form-label">number</label>
                                <div class="col-sm-9">
                                    <input id="numberInputField" type="number" class="form-control" v-model="numberInput" />
                                    <small class="text-muted">{{ numberInput }}</small>
                                </div>
                            </div>

                            <!-- Password Input Type -->
                            <div class="form-group row">
                                <label for="passwordInputField" class="col-sm-3 col-form-label">password</label>
                                <div class="col-sm-9">
                                    <input id="passwordInputField" type="password" class="form-control" v-model="passwordInput" />
                                    <small class="text-muted">{{ passwordInput }}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-4 offset-lg-1">
                            <!-- Range Input Type -->
                            <div class="form-group row">
                                <label for="rangeInputField" class="col-sm-3 col-form-label">range</label>
                                <div class="col-sm-9">
                                    <input id="rangeInputField" type="range" class="form-control" v-model="rangeInput" />
                                    <small class="text-muted">{{ rangeInput }}</small>
                                </div>
                            </div>

                            <!-- Search Input Type -->
                            <div class="form-group row">
                                <label for="searchInputField" class="col-sm-3 col-form-label">search</label>
                                <div class="col-sm-9">
                                    <input id="searchInputField" type="search" class="form-control" v-model="searchInput" />
                                    <small class="text-muted">{{ searchInput }}</small>                            
                                </div>
                            </div>

                            <!-- Tel Input Type -->
                            <div class="form-group row">
                                <label for="telInputField" class="col-sm-3 col-form-label">tel</label>
                                <div class="col-sm-9">
                                    <input id="telInputField" type="tel" class="form-control" v-model="telInput" />
                                    <small class="text-muted">{{ telInput }}</small>
                                </div>
                            </div>

                            <!-- Text Input Type -->
                            <div class="form-group row">
                                <label for="textInputField" class="col-sm-3 col-form-label">text</label>
                                <div class="col-sm-9">
                                    <input id="textInputField" type="text" class="form-control" v-model="textInput" />
                                    <small class="text-muted">{{ textInput }}</small>
                                </div>
                            </div>

                            <!-- Time Input Type -->
                            <div class="form-group row">
                                <label for="timeInputField" class="col-sm-3 col-form-label">time</label>
                                <div class="col-sm-9">
                                    <input id="timeInputField" type="time" class="form-control" v-model="timeInput" />
                                    <small class="text-muted">{{ timeInput }}</small>
                                </div>
                            </div>

                            <!-- URL Input Type -->
                            <div class="form-group row">
                                <label for="urlInputField" class="col-sm-3 col-form-label">url</label>
                                <div class="col-sm-9">
                                    <input id="urlInputField" type="url" class="form-control" v-model="urlInput" />
                                    <small class="text-muted">{{ urlInput }}</small>
                                </div>
                            </div>

                            <!-- Week Input Type -->
                            <div class="form-group row">
                                <label for="weekInputField" class="col-sm-3 col-form-label">week</label>
                                <div class="col-sm-9">
                                    <input id="weekInputField" type="week" class="form-control" v-model="weekInput" />
                                    <small class="text-muted">{{ weekInput }}</small>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <textarea v-model.lazy.trim="emailMessage" rows="4">
                    </textarea>
                    <small class="text-muted">{{ emailMessage }}</small>
            </form>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            setTimeout(initializeGrowler, 3000);
            function initializeGrowler() {
            var growler = new Vue({
                el: '#growler',
                methods: {
                    executeSearch: function(event) {
                        console.log(this.query + " " + event.target + " " + event.target.innerText);
                    },
                    executeSearch2: function(token, event) {
                        console.log(this.query + " " + token + " " + event.target.innerText);
                    },
                    created: function() {
                        this.history = 'Growler created!';
                    }
                },
                data: {
                    query: '',
                    appName: 'Growler',
                    appName1: '<a href="http://1.com">2.com</a>',
                    appLogo: 'https://vuejs.org/images/logo.png',
                    color: '#FF6A00',
                    appStyle: {
                        color: '#FF6A00',
                        fontFamily: 'Verdana',
                        margin: 0
                    },
                    accentColor: {
                        color: '#FF6A00'
                    },
                    headers: {
                        fontFamily: 'Verdana',
                        margin: 0
                    },
                    accentColor1: 'accent-color',
                    headers1: 'headers',
                    headerStyles: [
                        'accent-color',
                        'headers'
                    ],
                    isOnline: false,

                    searchIndexes: [],
                    searchIndex: '',
                    selectedSearchIndex: 'beers',
                    selectedSearchIndexes: ['beers', 'pubs'],

                    colorInput: '(nothing)',
                    dateInput: '(nothing)',
                    dateTimeLocalInput: '(nothing)',
                    emailInput: '(nothing)',
                    monthInput: '(nothing)',
                    numberInput: '(nothing)',
                    passwordInput: '(nothing)',
                    rangeInput: 0,
                    telInput: '(nothing)',
                    textInput: '(nothing)',
                    timeInput: '(nothing)',
                    searchInput: '(nothing)',
                    urlInput: '(nothing)',
                    weekInput: '(nothing)',
                    emailMessage: '',

                    history: ''
                }
            });
            }
        </script>
    </body>
</html>